<h1>Reverse</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

<br><br>
<i>**minor change: size checker added. If string is empty, user is redirected back to the index and string is not posted</i>



